$padding: 8px;
$margin: 8px;

$error-color: #eb4a46;

$gray-line: #efeeed;

$button-bg: #00c8b3;
$button-fg: #fff;

$button-bg-disabled: #f6f6f6;
$button-fg-disabled: #dddcdc;

$button-opacity-focus: 0.85;
$button-opacity-hover: 0.7;
